<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.dao.ScoreDao">

    <resultMap type="com.newer.entity.Score" id="ScoreMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="student.id" column="student_id" jdbcType="INTEGER"/>
        <result property="student.name" column="studentName" jdbcType="VARCHAR"/>
        <result property="teacher.id" column="teacher_id" jdbcType="INTEGER"/>
        <result property="teacher.name" column="teacherName" jdbcType="VARCHAR"/>
        <result property="course.id" column="course_id" jdbcType="INTEGER"/>
        <result property="course.name" column="courseName" jdbcType="VARCHAR"/>
        <result property="classId.id" column="class_id" jdbcType="INTEGER"/>
        <result property="attendanceRecord" column="attendance_record" jdbcType="VARCHAR"/>
        <result property="assignmentRecord" column="assignment_record" jdbcType="VARCHAR"/>
        <result property="examRecond" column="exam_recond" jdbcType="VARCHAR"/>
        <result property="totalPoints" column="total_points" jdbcType="VARCHAR"/>
        <result property="year" column="year" jdbcType="VARCHAR"/>
        <result property="phases" column="phases" jdbcType="INTEGER"/>
        <result property="saveDate" column="save_date" jdbcType="VARCHAR"/>
        <result property="updataDate" column="updata_date" jdbcType="VARCHAR"/>
    </resultMap>


    <!--查询单个-->
    <select id="queryById" resultMap="ScoreMap">
        select
          id, student_id, teacher_id, course_id, attendance_record, assignment_record, exam_recond, total_points, year, phases, save_date, updata_date
        from ScoreManagement.score
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ScoreMap">
        select
          id, student_id, teacher_id, course_id, attendance_record, assignment_record, exam_recond, total_points, year, phases, save_date, updata_date
        from ScoreManagement.score
        limit #{offset}, #{limit}
    </select>

    <!--测试查询所有-->
    <select id="queryByIdAll" resultMap="ScoreMap">
       SELECT distinct score.student_id,score.attendance_record,score.assignment_record,score.exam_recond,score.total_points,score.`year`,score.phases
FROM course
INNER JOIN  course_arrangement
on  course.id=course_arrangement.course_id
INNER JOIN score
ON score.course_id=course.id
WHERE course_arrangement.class_id=3174 and score.phases=1 and course.`name`='JAVAWEB'
    </select>

    <!--根据班级号，查询单个学生成绩-->
    <select id="queryStudentScore" resultMap="ScoreMap">
    SELECT distinct score.student_id,score.attendance_record,score.assignment_record,score.exam_recond,score.total_points,score.`year`,score.phases
FROM course
INNER JOIN  course_arrangement
on  course.id=course_arrangement.course_id
INNER JOIN score
ON score.course_id=course.id
WHERE course_arrangement.class_id=#{id} and score.phases=#{phases} and score.course_id=#{courseId}
    </select>
    <!--    根据班级id查询所有学生的成绩-->
    <select id="queryClassById" resultMap="ScoreMap">
        SELECT distinct score.student_id,score.attendance_record,score.assignment_record,score.exam_recond,score.total_points,score.`year`,score.phases
FROM course
INNER JOIN  course_arrangement
on  course.id=course_arrangement.course_id
INNER JOIN score
ON score.course_id=course.id
INNER JOIN class
on class.id=course_arrangement.class_id
WHERE class.id=#{classId}
    </select>
    <!--根据班级id 年 学期查询所有学生成绩-->
    <select id="queryStudentScoreAll" resultMap="ScoreMap">
        SELECT distinct student.id,student.`name` as studentName,teacher.`name` as teacherName ,course.`name` as courseName
        FROM course
        INNER JOIN  course_arrangement
        on  course.id=course_arrangement.course_id
        INNER JOIN score
        ON score.course_id=course.id
        INNER JOIN class
        on class.id=course_arrangement.class_id
        INNER JOIN student
        on student.class_id=class.id
        INNER JOIN teacher
        ON teacher.id=score.teacher_id
        WHERE
        <if test="classId != null">
            class.id=#{classId}
        </if>
        <if test="year != null">
            and score.`year`=#{year}
        </if>
        <if test="phases != null">

            and score.phases=#{phases}
        </if>
        <if test="courseId!= null">
            and score.course_id=#{courseId}
        </if>
    </select>
    <!--    查询成绩表中学生的id和课程的id-->
    <select id="queryByStudentAndCouerse" resultType="INTEGER">
        SELECT * FROM score WHERE score.student_id=#{studentId}
        AND score.course_id=#{courseId}
    </select>
    <!--添加学生成绩信息-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ScoreManagement.score(student_id,
        teacher_id, course_id,
        attendance_record,
        assignment_record,
        exam_recond, total_points,
        year, phases, save_date, updata_date)
       values
       (#{student.id},
       #{teacher.id},
       #{course.id},
       #{attendanceRecord},
        #{assignmentRecord},
         #{examRecond},
         #{totalPoints},
         #{year},
         #{phases},
          #{saveDate},
           #{updataDate})
    </insert>
    <!--通过主键修改数据-->
    <update id="update">
        update ScoreManagement.score
        <set>
            <if test="student.id != null">
                student_id = #{student.id},
            </if>
            <if test="teacher.id != null">
                teacher_id = #{teacher.id},
            </if>
            <if test="course.id != null">
                course_id = #{course.id},
            </if>
            <if test="attendanceRecord != null and attendanceRecord != ''">
                attendance_record = #{attendanceRecord},
            </if>
            <if test="assignmentRecord != null and assignmentRecord != ''">
                assignment_record = #{assignmentRecord},
            </if>
            <if test="examRecond != null and examRecond != ''">
                exam_recond = #{examRecond},
            </if>
            <if test="totalPoints != null and totalPoints != ''">
                total_points = #{totalPoints},
            </if>
            <if test="year != null and year != ''">
                year = #{year},
            </if>
            <if test="phases != null">
                phases = #{phases},
            </if>
            <if test="saveDate != null">
                save_date = #{saveDate},
            </if>
            <if test="updataDate != null">
                updata_date = #{updataDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ScoreManagement.score where id = #{id}
    </delete>

</mapper>