<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.dao.StudentDao">

    <resultMap type="com.newer.entity.Student" id="StudentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="OTHER"/>
        <result property="collegeId" column="college_id" jdbcType="INTEGER"/>
        <result property="majorId" column="major_id" jdbcType="INTEGER"/>
        <result property="classId" column="class_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StudentMap">
        select
          id, password, name, sex, birthday, college_id, major_id, class_id
        from ScoreManagement.student
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StudentMap">
        select
          id, password, name, sex, birthday, college_id, major_id, class_id
        from ScoreManagement.student
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="StudentMap">
        select
          id, password, name, sex, birthday, college_id, major_id, class_id
        from ScoreManagement.student
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="collegeId != null">
                and college_id = #{collegeId}
            </if>
            <if test="majorId != null">
                and major_id = #{majorId}
            </if>
            <if test="classId != null">
                and class_id = #{classId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ScoreManagement.student(password, name, sex, birthday, college_id, major_id, class_id)
        values (#{password}, #{name}, #{sex}, #{birthday}, #{collegeId}, #{majorId}, #{classId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ScoreManagement.student
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId},
            </if>
            <if test="majorId != null">
                major_id = #{majorId},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ScoreManagement.student where id = #{id}
    </delete>

</mapper>