<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.dao.StudentDao">

    <resultMap type="com.newer.entity.Student" id="StudentMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="OTHER"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <association property="shift" javaType="com.newer.entity.Class"
                     select="com.newer.dao.ClassDao.queryById"   column="class_id"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StudentMap">
        select
          id, password, name, sex, birthday,tel,email, class_id
        from ScoreManagement.student
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StudentMap">
        select
          id, password, name, sex, birthday, tel, email, class_id
        from ScoreManagement.student
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="StudentMap">
        select
          id, password, name, sex, birthday, tel, email, class_id
        from ScoreManagement.student
        <where>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="tel != null">
                and tel = #{tel}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="shift != null">
                and class_id = #{shift.id}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ScoreManagement.student(password, name, sex, birthday, tel, email, class_id)
        values (#{password}, #{name}, #{sex}, #{birthday}, #{tel}, #{email}, #{shift.id})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ScoreManagement.student
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="Integer">
        delete from ScoreManagement.student where id = #{id}
    </delete>
    <!--学生通过查询id 密码完成登录操作-->
    <select id="findStudentById" resultType="com.newer.entity.Student">
   select *
	from ScoreManagement.student
	where id=#{id}
	and password=#{password}
    </select>
    <!--学生重置密码 -->
    <update id="resetPassword" parameterType="com.newer.entity.Student">
        update ScoreManagement.student
        <set>
            <if test="password!=null"> `password`=123456</if>
        </set>
        where id=#{id}
    </update>
</mapper>